{% extends "teacher/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Agregar un profesor al sistema</h4>
                            </div>
                            <div class="content">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    {% for field in form.visible_fields %}

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>{{field.label}}</label>
                                                    {% render_field field class="form-control" placeholder=field.label %}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                {% for error in field.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="row">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-defoutl btn-fill pull-left">Cancelar</button>
                                            <button type="submit" class="btn btn-info btn-fill pull-right">Aceptar</button>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                    </div>
                                    
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>

{% endblock %}
