{% extends "teacher/base.html" %}
{% load static %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Perfil del Estudiante</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombre de Usuario</label>
                                                <input type="text" class="form-control" disabled placeholder="Username" value="{{student.user.username}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Correo electrónico</label>
                                                <input type="email" class="form-control" disabled placeholder="Correo electrónico" value="{{student.user.email}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control" disabled placeholder="Nombre" value="{{student.user.first_name}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Apellido</label>
                                                <input type="text" class="form-control" disabled placeholder="Apellido" value="{{student.user.last_name}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Cédula</label>
                                                <input type="text" class="form-control" disabled placeholder="Cédula" value="{{student.ci}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Profesor asociado</label>
                                                <input type="text" class="form-control" disabled placeholder="Profesor asociado" value="{{student.teacherMentor.user.first_name}} {{student.teacherMentor.user.last_name}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                                                        <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-8">
                                          <div class="col-md-4">
                                            <a href="{% url 'teacher:students' %}" class="btn btn-defoutl btn-fill pull-left">Ver todos los estudiantes</a>
                                          </div>
                                          <div class="col-md-4">
                                            <a href="{% url 'teacher:editStudent' student.id %}" class="btn btn-info btn-fill pull-right">Modificar</a>
                                          </div>
                                          <div class="col-md-4">
                                            <a href="{% url 'teacher:deleteStudent' student.id %}" class="btn btn-danger btn-fill pull-right">Eliminar</a>
                                          </div>
                                                                                       
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="" alt="">
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                        <img  class="avatar border-gray"  src="{% static 'teacher/img/perfil.png' %}">
                                      <h4 class="title">{{teacher.user.username}}<br /></h4>
                                    </a>
                                </div>   
                            </div>
                            <hr>
                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}
