{% extends "teacher/base.html" %}
{% load static %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Editar Tema</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" disabled class="form-control" placeholder="Nombre" value="{{theme.name}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Contenido de referencia</label>
                                                <input type="text" disabled class="form-control" placeholder="Contenido de referencia" value="{{theme.referenceContent}}">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-8">
                                          <div class="col-md-4">
                                            <a href="{% url 'teacher:themes' %}" class="btn btn-defoutl btn-fill pull-left">Ver todos los temas</a>
                                          </div>
                                          <div class="col-md-4">
                                            <a href="{% url 'teacher:editTheme' theme.id %}" class="btn btn-info btn-fill pull-right">Modificar</a>
                                          </div>
                                          <div class="col-md-4">
                                            <a href="{% url 'teacher:deleteTheme' theme.id %}" class="btn btn-danger btn-fill pull-right">Eliminar</a>
                                          </div>
                                                                                       
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                    
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}
