{% extends "student/basels.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
            <div class="content">
                <div class="container">
                    <div class="col-md-4 ml-auto mr-auto">
                   
                        <form method="post" action=".">
                            <div class="card card-login card-plain">                                
                                <div class="card-header " style="text-align:center">
                                    <h4>Sistema de tutor inteligente</h4>
                                    <h5>Programación I</h5>
                                </div>
                                <div class="card-body ">

                                    {% if form.errors %}
                                        <div class="alert alert-danger">
                                            <strong>El nombre de usuario y la contraseña no coinciden.</strong>
                                        </div>
                                    {% endif %}

                                    {% if next %}
                                        {% if user.is_authenticated %}
                                        <p>Tu cuenta no tiene acceso a esta session, por favor espera a que el usuario que la esta usando cierre sesion.</p>
                                        {% else %}
                                        <p>Por favor ingresa en la aplicacion para poder ver esta página.</p>
                                        {% endif %}
                                    {% endif %}


                                    {% csrf_token %}
                                    <div class="input-group no-border form-control-lg">
                                        <span class="input-group-addon">
                                            <i class="pe-7s-{{form.username.help_text}}"></i>
                                        </span>
                                        {% render_field form.username class="form-control" placeholder=form.username.label %}

                                    </div>

                                    <div class="input-group no-border form-control-lg">
                                        <span class="input-group-addon">
                                            <i class="pe-7s-{{form.password.help_text}}"></i>
                                        </span>
                                        {% render_field form.password type="password" class="form-control" placeholder=form.password.label %}

                                    </div>


                                    <div class="card-footer ">
                                        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">Entrar</button>
                                        <div class="pull-left">
                                            <h6><a href="/apps/student/signup/" class="link footer-link">Registrarse</a></h6>
                                        </div>
                                    </div>
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %} 
