{% extends "student/base.html" %}
{% load static %} <!--ya fue añadido en base.html-->
{% load widget_tweaks %}
{% block content %}
<style>
    .error {
        position:absolute;
        border-bottom: 2px dotted red;
    }
</style>
 <div class="content">
     <form method="post" action=".">
         <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    {% if errors %}
                        <div class="alert alert-danger">
                            <strong>{{errors.0}}</strong>
                            <p>
                                {% if errors.1 %}
                                <ul>
                                {% for err in errors.1%}
                                    <li>{{ err }}</li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            </p>
                        </div>
                    {% else %}
                        {% if score >= 0.0 %}
                            {% if score < 50.0 %}
                                <div class="alert alert-warning">
                                  <strong>Regular</strong> Has obtenido una puntuación de: {{ score }}.
                                    Sabemos que puedes mejorar, el siguiente ejercicio es mas sencillo, aprovechalo!
                                </div>
                                {% else %}
                                    <div class="alert alert-success">
                                      <strong>Muy Bien!</strong> Has obtenido una puntuación del: {{ score }} %.
                                        Sigue asi! Aqui tienes otro problema para que sigas practicando.
                                    </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if id %}
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="{% url 'student:problem' 0 %}">
                                    <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                                      <i class="pe-7s-study"></i> Continuar realizando problemas propuestos
                                    </button>
                                </a>
                            </div>
                        </div>

                        {% else %}
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">{{ problem.title }}</h4>
                            </div>
                            <div class="content">
                                <div id="" class="">
                                    <p class="category">{{ problem.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}


                </div>

                <div class="col-md-8">
                    <div class="card ">
                        <div class="content">

                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" rel="tooltip" class="btn btn-success" onclick="confirm()" data-original-title="" title="">
                                      <i class="pe-7s-study"></i> Confirmar
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-round">Enviar código</button>
                                </div>
                            </div>


                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <strong>Aun no has confirmado el codigo que vas a corregir.</strong>
                                </div>
                            {% endif %}

                            <div id="editor" style="max-height: 450px; overflow: hidden;">{% if code %}{{ code }}{% else %}#include"stdio.h"

//Escriba su codigo aqui
int main()
{
    return 0;
}{% endif %}
                            </div>

                            {% for field in form %}
                                {% render_field field class="form-control" %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
     </form>
 </div>
       

<script src="{% static 'student/acebuilds/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor", {
    	theme:"ace/theme/monokai", //monokai eclipse 
    	mode: "ace/mode/c_cpp",
    	maxLines: 35,
    	minLines: 35,
        wrap: true,
        autoScrollEditorIntoView: true
    });

    function confirm() {
        var code = document.getElementById("id_code")
        code.value = editor.getValue();
        var range = new ace.Range(4, 1, 4, editor.session.getScreenLastRowColumn(1) - 1 );
        editor.session.addMarker(range, "error", "line");
    };
</script>

{% endblock %}