{% extends "student/base.html" %}
{% load static %} <!--ya fue añadido en base.html-->
{% block content %}

 <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Nombre del problema</h4>
                            </div>
                            <div class="content">
                                <div id="" class="">
                                    <p class="category">Descripción del problema</p>
                                </div>
                            </div>
                          
                        </div>
                        
                    </div>

                    <div class="col-md-8">
                        <div class="card ">
                            <div class="content">
                                <div id="editor">//Escriba su código aquí
int main()
{   
    return 0;
}</div>
                                <div class="card-footer" style="margin-top: 10px">
                                    <a href=" " class="btn btn-primary btn-round btn-lg ">Enviar código</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
       

<script src="{% static 'student/acebuilds/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor", {
    	theme:"ace/theme/monokai", //monokai eclipse 
    	mode: "ace/mode/c_cpp",
    	maxLines: 35,
    	minLines: 35,
        wrap: true,
        autoScrollEditorIntoView: true
    });
</script>



{% endblock %}