{% load static %}
<!DOCTYPE html>

<html lang="en" class="perfect-scrollbar-off">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="apple-touch-icon" sizes="76x76" href="http://demos.creative-tim.com/now-ui-dashboard-pro/assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="http://demos.creative-tim.com/now-ui-dashboard-pro/assets/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>STI</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">

        <!--     Fonts and icons     -->
        <link href="{% static 'student/login_style/css/css' %}" rel="stylesheet">
        <link href="{% static 'student/login_style/css/all.css' %}" rel="stylesheet">
        <link href="{% static 'teacher/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />

        <!-- CSS Files -->
        <link href="{% static 'student/login_style/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'student/login_style/css/now-ui-dashboard.min.css' %}" rel="stylesheet">

        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="{% static 'student/login_style/css/demo.css' %}" rel="stylesheet">
        <script type="text/javascript" charset="UTF-8" src="{% static 'student/login_style/common.js' %}"></script>
        <script type="text/javascript" charset="UTF-8" src="{% static 'student/login_style/util.js' %}"></script>
        <script type="text/javascript" charset="UTF-8" src="{% static 'student/login_style/stats.js' %}"></script>
    </head>

    <body class=" sidebar-mini">
        
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navigation">
        
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a href="/apps/student/register/" class="nav-link">
                            <i class="pe-7s-add-user"></i>
                            Registrarse
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="/apps/student/login/" class="nav-link">
                            <i class="pe-7s-glasses"></i>
                            Entrar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

        

    <div class="wrapper wrapper-full-page ">
        <div class="full-page login-page section-image" filter-color="black" data-image="{% static 'student/login_style/images/fondo3.jpg' %}">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="info-area info-horizontal mt-5">
                                <div class="icon icon-primary">
                                    <i class="now-ui-icons media-2_sound-wave"></i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">Marketing</h5>
                                    <p class="description">
                                        We've created the marketing campaign of the website. It was a very interesting collaboration.
                                    </p>
                                </div>
                            </div>
                            <div class="info-area info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="now-ui-icons media-1_button-pause"></i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">Fully Coded in HTML5</h5>
                                    <p class="description">
                                        We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                                    </p>
                                </div>
                            </div>
                            <div class="info-area info-horizontal">
                                <div class="icon icon-info">
                                    <i class="now-ui-icons users_single-02"></i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">Built Audience</h5>
                                    <p class="description">
                                        There is also a Fully Customizable CMS Admin Dashboard for this product.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mr-auto">
                            <div class="card card-signup text-center">
                                <div class="card-header ">
                                 <h4 class="card-title">Register</h4>
                                </div>
                                <div class="card-body ">
                                    <form class="form" method="" action=" ">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="pe-7s-study"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Nombre">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="pe-7s-id"></i>
                                            </span>
                                        <input type="text" placeholder="Apellido" class="form-control">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="pe-7s-mail"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Correo electronico">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="pe-7s-key"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Clave">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="pe-7s-smile"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Profesor">
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer ">
                                    <a href="" class="btn btn-primary btn-round btn-lg">Registrarse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://github.com/solazverULA/Sistema-de-Tutor-Inteligente-STI-/tree/development">Proyecto integrado</a>, Universidad de los Andes, Mérida-Venezuela
                    </p>
                </div>
            </footer>
            <div class="full-page-background" style="background-image: url({% static 'student/login_style/images/fondo3.jpg' %}) ">
            </div>
        </div>  
    </div>
       

            
    <!--   Core JS Files   -->
    <script src="{% static 'student/register_style/js/jquery.min.js' %}"></script>
    <script src="{% static 'student/register_style/js/popper.min.js' %}"></script>
    <script src="{% static 'student/register_style/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'student/register_style/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'student/register_style/js/moment.min.js' %}"></script>

  

    <!-- Forms Validations Plugin -->
    <script src="{% static 'student/register_style/js/jquery.validate.min.js' %}"></script>
    <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static 'student/register_style/js/demo.js' %}"></script>
    <script>
      $(document).ready(function(){
        $().ready(function(){
            $sidebar = $('.sidebar');
            $sidebar_img_container = $sidebar.find('.sidebar-background');

            $full_page = $('.full-page');

            $sidebar_responsive = $('body > .navbar-collapse');
            sidebar_mini_active = true;

            window_width = $(window).width();

            fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

            // if( window_width > 767 && fixed_plugin_open == 'Dashboard' ){
            //     if($('.fixed-plugin .dropdown').hasClass('show-dropdown')){
            //         $('.fixed-plugin .dropdown').addClass('show');
            //     }
            //
            // }

            $('.fixed-plugin a').click(function(event){
              // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                if($(this).hasClass('switch-trigger')){
                    if(event.stopPropagation){
                        event.stopPropagation();
                    }
                    else if(window.event){
                       window.event.cancelBubble = true;
                    }
                }
            });

            $('.fixed-plugin .background-color span').click(function(){
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('color');

                if($sidebar.length != 0){
                    $sidebar.attr('data-color',new_color);
                }

                if($full_page.length != 0){
                    $full_page.attr('filter-color',new_color);
                }

                if($sidebar_responsive.length != 0){
                    $sidebar_responsive.attr('data-color',new_color);
                }
            });

            $('.fixed-plugin .img-holder').click(function(){
                $full_page_background = $('.full-page-background');

                $(this).parent('li').siblings().removeClass('active');
                $(this).parent('li').addClass('active');


                var new_image = $(this).find("img").attr('src');

                if( $sidebar_img_container.length !=0 && $('.switch-sidebar-image input:checked').length != 0 ){
                    $sidebar_img_container.fadeOut('fast', function(){
                       $sidebar_img_container.css('background-image','url("' + new_image + '")');
                       $sidebar_img_container.fadeIn('fast');
                    });
                }

                if($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0 ) {
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $full_page_background.fadeOut('fast', function(){
                       $full_page_background.css('background-image','url("' + new_image_full_page + '")');
                       $full_page_background.fadeIn('fast');
                    });
                }

                if( $('.switch-sidebar-image input:checked').length == 0 ){
                    var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $sidebar_img_container.css('background-image','url("' + new_image + '")');
                    $full_page_background.css('background-image','url("' + new_image_full_page + '")');
                }

                if($sidebar_responsive.length != 0){
                    $sidebar_responsive.css('background-image','url("' + new_image + '")');
                }
            });

            $('.switch-sidebar-image input').on("switchChange.bootstrapSwitch", function(){
                $full_page_background = $('.full-page-background');

                $input = $(this);

                if($input.is(':checked')){
                    if($sidebar_img_container.length != 0){
                        $sidebar_img_container.fadeIn('fast');
                        $sidebar.attr('data-image','#');
                    }

                    if($full_page_background.length != 0){
                        $full_page_background.fadeIn('fast');
                        $full_page.attr('data-image','#');
                    }

                    background_image = true;
                } else {
                    if($sidebar_img_container.length != 0){
                        $sidebar.removeAttr('data-image');
                        $sidebar_img_container.fadeOut('fast');
                    }

                    if($full_page_background.length != 0){
                        $full_page.removeAttr('data-image','#');
                        $full_page_background.fadeOut('fast');
                    }

                    background_image = false;
                }
            });

            $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function(){
              var $btn = $(this);

              if(sidebar_mini_active == true){
                  $('body').removeClass('sidebar-mini');
                  sidebar_mini_active = false;
                  nowuiDashboard.showSidebarMessage('Sidebar mini deactivated...');
              }else{
                  $('body').addClass('sidebar-mini');
                  sidebar_mini_active = true;
                  nowuiDashboard.showSidebarMessage('Sidebar mini activated...');
              }

              // we simulate the window Resize so the charts will get updated in realtime.
              var simulateWindowResize = setInterval(function(){
                  window.dispatchEvent(new Event('resize'));
              },180);

              // we stop the simulation of Window Resize after the animations are completed
              setTimeout(function(){
                  clearInterval(simulateWindowResize);
              },1000);
            });
        });
      });
    </script>
    </body>
</html>