{% extends "student/base.html" %}

{% load staticfiles %} 

{% block content %}

<script src="{% static "student/PdfReader/JS/Pdf.js" %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static "student/PdfReader/CSS/Pdf.css" %}">
<script type="text/javascript" charset="UTF-8" src="{% static 'student/register_style/js/common.js' %}"></script>
<!--&#10004-->

{% for theme in themes %}
    <div class="overlayPdf">
        <object id="PDF" data="{% static theme.theme.initial_address %}" type="application/pdf" height="100%" width="80%" style=" position: absolute; left: 12%; top: 0%; ">
        </object>
        <button class="BackButton circle BackButtonPos" onclick="BackButtonOff( {{ theme.theme.pk }} )"><i id="BackButtonArrow" class="BackButtonArrowLeft"></i>
        </button>
        <a href="{% url 'student:theme' theme.id %}">
            <button class="CheckButton circle CheckButtonPos" onclick="CheckButtonOff( {{ theme.theme.pk }})">&#10004
            </button>
        </a>
    </div>
{% endfor %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            {% if id %}

                                <div class="alert alert-success">
                                  <strong>Actualizado tema visto!</strong> Acabas de ver el tema: {{ id }}.
                                </div>

                            {% endif %}
                            <div class="alert alert-info">
                              <strong>Recordatorio!</strong>
                                Debes oprimir el boton de check luego de haber visto un tema para proceder a actualizarlo,
                                de esta forma ya tendras disponible los problemas referente a este tema.
                            </div>
                        </div>

                        <div class="card">
                            <div class="header">
                                <h4 class="title">Tu progreso</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    {% for pr in progress %}
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>{{ pr.theme.name }}</label>
                                                <p>Nivel: {{ pr.value }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                           <h3 class="navbar-brand">Seleccione para ver un tema</h3>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                          <thead>
                                              <tr>
                                                  <th class="text-center">#</th>
                                                  <th class="text-center">Nombre</th>
                                                  <th class="text-center">Descripción</th>
                                                  <th class="text-center">Ver</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                          {% for theme in themes %}
                                            <!--
                                            {{ forloop.counter }} {# starting index 1 #}
                                            {{ forloop.counter0 }} {# starting index 0 #}
                                            -->
                                            <tr class="text-center">
                                              <td>{{ theme.theme.pk }}</td>
                                              <td>{{ theme.theme.name }}</td>
                                              <td>{{ theme.theme.description}}</td>
                                              <td class="td-actions text-center">
											  {% if theme.IsDisabled %}

                                                  <button type="button" rel="tooltip" class="btn btn-success unlock" onclick="onPdf({{ theme.theme.pk }})" disabled >
                                                      <i class="pe-7s-study"></i>
                                                  </button>

											  {% else %}

                                                    <button type="button" rel="tooltip" class="btn btn-success unlock" onclick="onPdf({{ theme.theme.pk }})">
                                                        <i class="pe-7s-study"></i>
                                                    </button>

                                               {% endif %}


                                              </td>
                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
{% endblock %}
