{% extends "student/base.html" %}
{% load static %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Perfil</h4>
                            </div>
                            <div class="content">
                                <form class="form" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombre de usuario</label>
                                                <input type="text" class="form-control"
                                                       name="username"
                                                       id="id_username"
                                                       placeholder="Nombre de usuario"
                                                       value="{{ user.username }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Correo electrónico</label>
                                                <input type="email" class="form-control"
                                                       placeholder="Correo electrónico"
                                                       name="email"
                                                       id="id_email"
                                                       value="{{ user.email }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control"
                                                       name="first_name"
                                                       id="id_first_name"
                                                       placeholder="Nombre"
                                                       value="{{ user.first_name }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Apellido</label>
                                                <input type="text" class="form-control"
                                                       name="last_name"
                                                       id="id_last_name"
                                                       placeholder="Apellido"
                                                       value="{{ user.last_name }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Cédula</label>
                                                <input type="text" class="form-control"
                                                       name="ci"
                                                       id="id_ci"
                                                       placeholder="Cédula"
                                                       value="{{ user.people.student.ci }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Profesor</label>
                                                <input type="text" class="form-control"
                                                       placeholder="Profesor"
                                                       value="{{ user.people.student.teacherMentor }}"
                                                       disabled >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if form.errors %}
                                                {% for error in form.non_field_errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Actualizar perfil</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="" alt="">
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                        <img  class="avatar border-gray"  src="{% static 'teacher/img/perfil.jpg' %}">
                                      <h4 class="title">{{ user.username }}<br /></h4>
                                    </a>
                                </div>   
                            </div>
                            <hr>
                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}
