{% extends "student/base.html" %}
{% load static %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Perfil</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombre de usuario</label>
                                                <input type="text" class="form-control" disabled placeholder="Username" value="SaraitHernandez">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Correo electrónico</label>
                                                <input type="email" class="form-control" placeholder="Correo electrónico" value="saraithernandez0205@gmail.com">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control" placeholder="Nombre" value="Sarait">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Apellido</label>
                                                <input type="text" class="form-control" placeholder="Apellido" value="Hernández">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Cédula</label>
                                                <input type="text" class="form-control" placeholder="Cédula" value="23.722.515">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Profesor</label>
                                                <input type="text" class="form-control" disabled placeholder="Company" value="Solazver Solé">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Actualizar perfil</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="" alt="">
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                        <img  class="avatar border-gray"  src="{% static 'teacher/img/perfil.jpg' %}">
                                      <h4 class="title">Sarait Hernández<br /></h4>
                                    </a>
                                </div>   
                            </div>
                            <hr>
                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}
